In [128]:
# url 에서 데이터를 가져와 JSON으로 반환
import json, requests
from datetime import date
import pandas as pd
authkey = '7C2WbdJeR4Jugo687WwfvKNckPyU5HdD'

url = requests.get(f'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey={authkey}&searchdate=20230802&data=AP01')

data = url.json()
# 전체 표 보여주기 -> 표 정리하고 싶음..ㅎ
summary = pd.DataFrame(data)
summary

,result,cur_unit,ttb,tts,deal_bas_r,bkpr,yy_efee_r,ten_dd_efee_r,kftc_bkpr,kftc_deal_bas_r,cur_nm
0,1,AED,345.18,352.15,348.67,348,0,0,348,348.67,아랍에미리트 디르함
1,1,AUD,838.52,855.45,846.99,846,0,0,846,846.99,호주 달러
2,1,BHD,"3,363.19","3,431.14","3,397.17","3,397",0,0,"3,397","3,397.17",바레인 디나르
3,1,BND,949.69,968.88,959.29,959,0,0,959,959.29,브루나이 달러
4,1,CAD,955.24,974.53,964.89,964,0,0,964,964.89,캐나다 달러
5,1,CHF,"1,451.75","1,481.08","1,466.42","1,466",0,0,"1,466","1,466.42",스위스 프랑
6,1,CNH,176.84,180.41,178.63,178,0,0,178,178.63,위안화
7,1,DKK,187.27,191.06,189.17,189,0,0,189,189.17,덴마아크 크로네
8,1,EUR,"1,395.57","1,423.76","1,409.67","1,409",0,0,"1,409","1,409.67",유로
9,1,GBP,"1,621.44","1,654.19","1,637.82","1,637",0,0,"1,637","1,637.82",영국 파운드
10,1,HKD,162.66,165.95,164.31,164,0,0,164,164.31,홍콩 달러
11,1,IDR(100),8.38,8.55,8.47,8,0,0,8,8.47,인도네시아 루피아
12,1,JPY(100),887.04,904.96,896,896,0,0,896,896,일본 옌
13,1,KRW,0,0,1,1,0,0,1,1,한국 원
14,1,KWD,"4,123.49","4,206.8","4,165.15","4,165",0,0,"4,165","4,165.15",쿠웨이트 디나르
15,1,MYR,280.59,286.26,283.43,283,0,0,283,283.43,말레이지아 링기트
16,1,NOK,124.59,127.1,125.85,125,0,0,125,125.85,노르웨이 크로네
17,1,NZD,778.16,793.89,786.03,786,0,0,786,786.03,뉴질랜드 달러
18,1,SAR,337.9,344.73,341.32,341,0,0,341,341.32,사우디 리얄
19,1,SEK,119.8,122.23,121.02,121,0,0,121,121.02,스웨덴 크로나
20,1,SGD,949.69,968.88,959.29,959,0,0,959,959.29,싱가포르 달러
21,1,THB,36.93,37.68,37.31,37,0,0,37,37.31,태국 바트
22,1,USD,"1,267.89","1,293.5","1,280.7","1,280",0,0,"1,280","1,280.7",미국 달러

In [129]:
# 나라, 단위
country_info = [(data[i]['cur_nm'].split()[0], data[i]['cur_nm'].split()[-1]) for i in range(len(data))] 

# 송금 받을 때 보낼때 환율
receive = { country_info[i][0] : data[i]['ttb'] for i in range(len(data))}
send = { country_info[i] : data[i]['tts'] for i in range(len(data))}

In [131]:
# User input
# 중국의 경우 '위안화' 로 검색, 유럽지역은 '유로'로 검색 , 덴마크는 덴마아크로 검색

mode = int(input('May I help you? (receive foreign money :1 / send foreign money :2)'))
country = input('Which country are you going to 거래? (Europe : 유로 / China : 위안화)')  # 국가/ 단위 둘다 접근 가능하게 처리 해야겠다.

if mode == 1: # receive : ttb
    money = int(input('How much money are you going to receive? '))
    print()
    r_money = float(receive[country])*money
    print(f'You will receive : {r_money} in Korean currency.')
elif mode == 2: # send : tts
    money = int(input('How much money are you going to send?(KRW) '))
    print()
    r_money = float(send[country])*money
    print(f'You will send {r_money}{country_info[country][-1]}.')

May I help you? (receive foreign money :1 / send foreign money :2)1
Which country are you going to 거래? (Europe : 유로 / China : 위안화)일본
How much money are you going to receive? 3000

You will receive : 2661120.0 in Korean currency.